*{
    margin: 0;
    padding: 0;
  }
  header{
    font-family: Helvetica;
    width: 100%;
    margin: auto;
    float: left;
    background-color: #201492;
  }
  ul{
    list-style: none;
  }
  #menu li>a{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
    
  }
  #menu li>a:hover{
    color: rgb(255, 0, 0);
    background-color: #ffffff;
  }
  #menu>li>ul>li>ul>li>a:hover{
    background-color:rgb(255, 255, 255);
    color:green;
  }
  #menu>li{
    float: center;
    text-align:center
  }
  #menu>li>ul>li{
    display: none;
  }
  #menu>li:hover>ul>li {
    display:block;
  }
  #menu>li:hover>ul>li>ul{
    display: none;
  }
  #menu>li>ul:hover>li>ul{
    display: block;
  }
  #espacio{
    width: 100%;
    height: 500px;
    margin: auto;
    color: #ffffff;
    background-color: #201492;
  }
  #info >h2{
    color: #ffffff;
    float: center;
    text-align: center;
    background-color: rgb(255, 0, 0);
  }
  #Logo>fieldset{
    float: center;
    text-align: center;
  }
  #baner{
    text-align: center;
    width: 25%;
    height: 10%;
    margin-left: 63%;  
  }
  #logo{
    text-align: center;
    width: 10%;
    height: 10%;
  }
  #img_1{
    width: 25%;
    object-fit: contain;
    margin-left: 5%;
  }
  #img_2{
    width: 25%;
    object-fit: contain;
    margin-right: 5%;
    margin-left: 5%;
  }#img_3{
    width: 25%;
    object-fit: contain;
    margin-right: 5%;
  }
  #espacio>h3{
    margin-left: 5%;
    margin-right: 5%;
  }